@font-face {

    font-family: 'Orlega';
  
    src: url('./OrelegaOne-Regular.ttf') format('truetype');
  
    font-weight: 600;
  
    font-style: normal;
  
  }
 
/*contact page styles*/
.contact-header {
    display: flex;
    justify-content: center;
    background-color: white;
    background-color: rgb(0, 55, 55);
    border-radius: 10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    align-items:center;
    color: white;
}

.contact {
    display: grid;
    grid-template-areas: 
    ". header ."
    ". nav ."
    ". form ."
    ". form ."
    ". form ."
    "footer footer footer";
    background-color:lightgreen;
    background-image: url('./background-ren-ran.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-size:cover;
    grid-template-columns: 1fr 3fr 1fr;
    position:relative;
    min-height:100vh;
    grid-template-rows: .5fr .25fr 4fr 1fr;    
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Orlega';
    
}

.form {
    grid-area: form;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: lightgrey;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-top: rgb(0, 55, 55) solid 2rem;
    border-right: rgb(0, 55, 55) solid 2rem;
    border-bottom: rgb(0, 55, 55) solid 2rem;
    border-left: rgb(0, 55, 55) solid 2rem;
}

.name-field {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.name-field > input {
    width: 19rem;
    border-radius: 1rem;
}

.email-field {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-field > input{
    width: 19rem; 
    border-radius: 1rem;   
}

.message-field {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.form > h2 {
    text-align: center;
}

h3>p {
    font-weight: lighter;
    font-size: smaller;
}

form {
    font-size: larger;
}

.message-field > input {
    width: 23rem;
    height: 23rem;
    border-radius: 1rem;
    text-align: center;
}

.submit {
    background-color:rgb(0, 55, 55);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content:center;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

  /*menu page styles*/

.menu-header {
    grid-area: menu;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    background-color: rgb(0, 55, 55);
    border-radius: 10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    align-items:center;
    color: white;
}

.menu {
    display: grid;
    grid-template-areas: 
    ". header ."
    ". nav ."
    ". menu ."
    ". menu ."
    ". menu ."
    "footer footer footer";
    background-color:lightgreen;
    background-image: url('./background-ren-ran.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-size:cover;
    grid-template-columns: 1fr 3fr 1fr;
    position:relative;
    min-height:100vh;
    grid-template-rows: .5fr .25fr 4fr 1fr;    
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Orlega';
}

.image-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.description-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: larger;
    align-items:center;
}

.menu-div {
    grid-area: menu;
    grid-template-areas:
    "picture picture title title"
    "picture picture description description";
    display:grid;
    background-color:lightgrey;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border-top:rgb(0, 55, 55) solid 2rem;
    border-right: rgb(0, 55, 55) solid 2rem;
    border-bottom: rgb(0, 55, 55) solid 2rem;
    border-left: rgb(0, 55, 55) solid 2rem;
    gap: 1rem;
}

.menu-img {
    width: 10vw;
    height: 20vh;
    border:rgb(0, 55, 55) solid 5px;
    border-radius: 5px;
}

.menu-item-div {
    background-color: lightgrey;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-radius: 10px;
}



/*home page styles/static element styles*/
.content {
    display: grid;
    grid-template-areas: 
    ". header ."
    ". nav ."
    ". main ."
    ". main ."
    "footer footer footer";
    background-color:lightgreen;
    background-image: url('./background-ren-ran.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-size:cover;
    grid-template-columns: 1fr 3fr 1fr;
    position:relative;
    min-height:100vh;
    grid-template-rows: .5fr .25fr 4fr 1fr;
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Orlega';
}

h1 {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    background-color: lightgrey;
    width: 30rem;
    text-align: center;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: white;
    background-color: rgb(0, 55, 55);
    border-radius: 10px;
    border-bottom: 5px solid lightgrey;
    border-top: 5px solid lightgrey;
    align-items:center;
    
}

.nav {
    display: flex;
    grid-area: nav;
    justify-content: center;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1 1fr;
    background-color: rgb(0, 55, 55);
    padding: 20px;
    gap: 20px;
    border-bottom: solid lightgrey 5px;
    border-top: solid lightgrey 5px;
    border-radius: 10px;

}

.button {
    width: 10rem;
    height: 4rem;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Orlega';
}

.button:hover {
    background-color: lightblue;
    color: white;
}

.text {
    background-color: lightgrey;
    border-radius: 10px;
    padding:150px;
}

.main {
    grid-area: main;
    background-color: rgb(0, 55, 55);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 5px solid lightgrey;
    border-top: 5px solid lightgrey;
    gap: 10px;
    font-size: larger;
}

.picture-grid {
    display:grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;

}

.main-picture {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}


.footer {
    grid-area: footer;
    background-color:rgb(0, 55, 55);
    bottom:0;
    color: white;
    font-size:smaller;
    border-radius: 10px;
    border-top: lightgrey 5px solid;
    border-bottom: lightgrey 5px solid;
}